* {
 font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
	padding: 0;
	border: 0;

	vertical-align: baseline;
}

a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

h1 {
  color: white;
  font-weight: 500;
}

h2 {
  color: white;
  font-weight: 400;
}

p {
  color: white;
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
}

.wrapper {
  margin: 0%;
  font-size: 1vw;
  justify-self: center;
  display: grid;
}

@media (max-width: 1800px) {
  .wrapper {
    font-size: 100%;
  }
}

  @media (max-width: 1300px) {
    .wrapper {
      font-size: 90%;
    }
  }

    @media (max-width: 1200px) {
      .topcontent {
        font-size: 90%;
      }
    }

    @media (max-width: 1100px) {
      .wrapper {
        font-size: 80%;
      }
      .topcontent {
        font-size: 90%;
      }

  }

.socialmedia{
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  margin-top: 1%;
  padding: 0.5% 1% 0.5% 2%;
  z-index: 2;
  position: absolute;
  display: flex;
  width: 7%;
  background-color: rgba(36, 46, 70, 100);
  -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
}

.socialmedia a {
  width: 100%;
  margin: 5%;
}

.socialmedia img{
  width: 100%;
}

.herowrapper{
  background-color: rgba(36, 46, 70, 100);
  width: 100%;
  position: absolute
}

.heroslider{
  height: 100%;
}

.herocell {
      width: 100%;
      margin: 0 2%;
  }


.topcontent {
  -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
  pointer-events: none;
  z-index: 1;
/*  background: linear-gradient(
    rgba(36, 46, 70, 0.8),
    rgba(36, 46, 70, 0.8)
    ),
  url(../img/bg2.jpg) no-repeat center top;
  background-size: cover; */
  display: grid;
  -webkit-backdrop-filter: blur(5px);
  /* background: url(../img/infobgsh.png) no-repeat center top;
  background-size: contain;
  padding-top: 113px;
  height:0;*/
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.9fr min0.4fr 0.67fr;
  background: linear-gradient(
      rgba(36, 46, 70, 0.8),
      rgba(36, 46, 70, 0.8)
      );


  /* width: 100%;
  height: 0;
  padding-top:  112.1%; */
}

@media (max-width: 1000px) {
  .topcontent {
    font-size: 80%;
  }
}

.topcontent img{
  pointer-events: none;
}

.logocontainer {
  padding: 0% 12% 0% 10%;
  margin-bottom: -30%;
  grid-column: ;
  height: auto;
  pointer-events: none;
}

.logocontainer img {
  height: auto;
  padding-top: 0px;
  padding-right: 00px;
}

.textcontainer1 {
  margin-left: -40%;
  padding-top: 10%;
  padding-right: 30%;
  justify-content: flex-end;
  align-content: center;
  display: flex;
}

@media (max-width: 1000px) {
  .textcontainer1 {
    padding-top: 10%;
  }
}

.textcontainer1 h1{

  text-align: center;
  font-size: 2.25em

}

.textcontainer1 h2{

  text-align: center;
  font-size: 2em;

}

.fancontainer {
  padding-right: 60%;
  margin-top: -3%;
  margin-bottom: 3%;
  display: none;
  justify-content: end;

}

@media (max-width: 1200px) {
.fancontainer {
    padding-top: 0px;
  }
}

.fancontainer img {
  width: 100%;
  z-index: 1;
}

.textcontainer2 {
  display: flex;
  justify-content: flex-end;
  grid-column: span 2;
  padding-right: 3%;
}

@media (max-width: 1200px) {
  .textcontainer2 {
    padding-top: 5px;
  }
}

.textcontainer2 h2 {
  text-align: left;
  font-size: 1.4em;
  padding-bottom: 5%;
}

@media (max-width: 1200px) {
.textcontainer2 h2 {
    padding-left: 70px;
  }
}

.infocontent {
  margin: 6% 7% 10% 7%;
  pointer-events: auto;
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  padding: 0
}

@media (max-width: 1300px) {
  .infocontent{
    grid-template-columns: 1.8fr 1fr;
    padding: 10px 10px 10px 10px;
  }
}


@media (max-width: 770px) {
  .infocontent{
    grid-template-columns: 1fr;
    padding: 10px 00px 10px 00px;
  }
}

.textcontainer3 {
  display: grid;
  padding-right: 11%;
}

.imgcontainer{
  margin-top: 15%;

}

.imgframe  {
  background-color: #212B3F;
  -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
  padding: 10px;
}



.imgframe img{

}

.imgframe2 {
  margin-bottom: 5%;
  margin-top: 5%;
  margin-right: 3%;
  padding: 10px;

}

.imgframe2 img {
  background-color: white;
  -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
  padding: 10px;
}

@media (max-width: 1200px) {
  .textcontainer3 {
      padding-left: 70px;
  }
}

.textcontainer3 h1 {
  font-size: ;
  color: black;
}

.textcontainer3 p {
  font-size: 1em;
  color: black;
}

.multilogos {
  margin: 5% 0 20px 0;
  border-left: 1px solid;
  border-color: black;
  display: grid;
}

.multilogoscontainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 40px 10px 40px;
  justify-items: center;
  align-content: center;
}

@media (max-width: 770px) {
  .multilogoscontainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1%;
}
}



.multilogoscontainer img{
  width: 100%;
  align-self: center;

}

.bookingcontent{
  background-color: #212B3F;
  display: grid;
  padding: 50px 120px 140px 120px;
  column-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;

}


@media (max-width: 900px){
    .bookingcontent{
  }
}

.bookingtext{
  margin-bottom: 40px;
  grid-column: span 3;
  border-bottom: 4px solid;
  border-color: white;
}

@media (max-width: 770px){
  .bookingcontent {
  padding: 50px 20% 70px 20%;
  column-gap: 10px;
  font-size: 140%;
  grid-template-columns: 1fr;
  grid-row-gap: 60px;
}

    .bookingtext {
    grid-column: span 1;
    padding: 20px 20px 0px 20px;
    column-gap:0px;
    margin:  0 -20px -20px -20px;
  }
    .btext2{
    grid-row: start 2;
    margin-top: -20px;
    }
    .stext2 {
      grid-row: start 4;
      margin-top: -20px;
    }
    .gtext2 {
      grid-row: start 6;
      margin-top: -20px;
    }
    .bronzepanel, .silverpanel, .goldpanel {
    margin-bottom: -60px;
    }
}

.textcontainer4 {
  grid-column: span 2;
}

.textcontainer5 {
  margin-bottom: 40px;
  grid-column: span 3;

}

.bookingtext h1{
  font-size: 2.188em;
}

.bronzepanel{
  -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
  height: 0;
  padding-top: 86%;
  display: flex;
  flex-direction: column-reverse;
  background: linear-gradient(
    rgba(165, 67, 35, 0.6),
    rgba(165, 67, 35, 0.6)
    ),
    url('../img/bronze.png') no-repeat center top;
  background-size:contain;
}

.btext, .stext, .gtext{
  display: grid;
  padding-left: 30px;
  background-color: rgba(0, 0, 0, 0.6);
}

.btext h2, .stext h2, .gtext h2{
  font-size: 1.875em;
  line-height: 0;
}

.btext p, .stext p, .gtext p{
  font-size: 1.563em;
  line-height: 0;
}


.silverpanel{
  -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
  height: 0;
  padding-top: 86%;
  display: flex;
  flex-direction: column-reverse;
  background: linear-gradient(
  rgba(188, 187, 187, 0.7),
  rgba(188, 187, 187, 0.7)
  ),
  url('../img/silver.png') no-repeat center top;
background-size:contain;
}

.goldpanel{
  -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
  height: 0;
  padding-top: 86%;
  display: flex;
  flex-direction: column-reverse;
  background: linear-gradient(
  rgba(212, 175, 55, 0.5),
  rgba(212, 175, 55, 0.5)
  ),
  url('../img/gold.png') no-repeat center top;
background-size:contain;
}

.btext2, .stext2, .gtext2{
  padding-top: 25px;
 color: white;
}



.btext2, .stext2, .gtext2{
  padding-top: 25px;
  color: white;
}

.btext2 p, .stext2 p, .gtext2 p{
  font-size: 1.2em
}

.buttoncontainer {
  display: grid;
  justify-content: center;
  align-items: center;
}

.buttoncontainer a{
  text-align: center;
  font-size: 1.5em;

}

.btn{
  -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
  margin-top: ;
  vertical-align: middle;
  padding: 15px 20px 15px 20px;
  background-color: #DC4F4F;
  color: white;
}

.tbcontent{

  padding: 50px 127px 127px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tbcontent h1{
  color: black;
  grid-column: span 4;
  padding-bottom: 70px;
}

.tbcontent img{
  width: 100%;
}

.footer{
  background-color: #212B3F;
}
