* {
 font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  display: grid;
  height: 100%;
  width: 100%;
}

a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

h1 {
  color: white;
  font-weight: 500;
}

h2 {
  color: white;
  font-weight: 400;
}

p {
  color: white;
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
}

.wrapper {
  font-size: 150%;
  justify-self: center;
  width: 100%;
  display: grid;
  margin: 0;
}

@media (max-width: 1500px) {
  .wrapper {
    font-size: 100%;
  }
}

  @media (max-width: 1300px) {
    .wrapper {
      font-size: 90%;
    }
  }

    @media (max-width: 1200px) {
      .topcontent {
        font-size: 90%;
      }
    }

    @media (max-width: 1100px) {
      .wrapper {
        font-size: 80%
      }
      .topcontent {
        font-size: 90%;
      }

  }


.heroimg{
  position: absolute;
  background: url(../img/infobgsh.png) no-repeat center top;
  background-size: contain;
  width: 100%;
  height: 0;
  padding-top: 113%;
  z-index: -1;
}

.topcontent {
  display: grid;
  /* background: url(../img/infobgsh.png) no-repeat center top;
  background-size: contain;
  padding-top: 113px;
  height:0;*/
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr fit-content(100px) 0.67fr;


  /* width: 100%;
  height: 0;
  padding-top:  112.1%; */
}

.topcontent img{

}

.logocontainer {
  padding: 7% 32% 5% 30%;
  grid-column: span 2;
  height: auto;
}

.logocontainer img {
  height: auto;
  padding-top: 0px;
  padding-right: 00px;
}

.textcontainer1 {
  padding-top: 140px;
  justify-content: center;
  align-content: center;
}

@media (max-width: 1500px) {

}

.textcontainer1 h1{

  text-align: center;
  font-size: 2.25em

}

.textcontainer1 h2{

  text-align: center;
  font-size: 2em;

}

.fancontainer {
  padding-top: 30px;
  display: grid;
  justify-content: end;

}

.fancontainer img {
  width: 100%;
}

.textcontainer2 {
  display: grid;
  align-content: start;
  padding-top: 50px;
  grid-column: span 2;
}

.textcontainer2 h2 {
  padding-left: 120px;
  font-size: 1.7em;
  text-align: left;
  grid-row: span 2;
}

@media (max-width: 1200px) {
.textcontainer2 h2 {
    padding-left: 70px;
  }
}

.infocontent {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  padding-bottom: 90px;
}

@media (max-width: 1000px) {
.infocontent{
  grid-template-columns: 1fr;
  padding: 10px 40px 10px 40px;
}
}

.textcontainer3 {
  display: grid;
  padding-left: 120px;
  padding-right: 40px;
}

.textcontainer3 h2 {
  font-size: 1.563em;
  color: black;
}

.textcontainer3 p {
  font-size: 1em;
  color: black;
}

.multilogos {
  margin: 60px 0 20px 0;
  border-left: 1px solid;
  border-color: black;
  display: grid;
}

.multilogoscontainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 40px 10px 40px;
  justify-items: center;
  align-content: center;
}




.multilogoscontainer img{
  width: 100%;
  align-self: center;

}

.bookingcontent{
  background-color: #212B3F;
  display: grid;
  padding: 50px 120px 140px 120px;
  column-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;

}

@media (max-width: 1000px){
    .bookingcontent {
    padding: 50px 20px 70px 20px;
    column-gap: 10px;
    font-size: 70%;
  }
}

@media (max-width: 900px){
    .bookingcontent{
    font-size: 50%;
  }
}

.bookingtext{
  margin-bottom: 40px;
  grid-column: span 3;
  border-bottom: 4px solid;
  border-color: white;
}

.bookingtext h1{
  font-size: 2.188em;
}

.bronzepanel{
  height: 0;
  padding-top: 86%;
  display: flex;
  flex-direction: column-reverse;
  background: linear-gradient(
    rgba(165, 67, 35, 0.6),
    rgba(165, 67, 35, 0.6)
    ),
    url('../img/bronze.png') no-repeat center top;
  background-size:contain;
}

.btext, .stext, .gtext{
  display: grid;
  padding-left: 30px;
  background-color: rgba(0, 0, 0, 0.6);
}

.btext h2, .stext h2, .gtext h2{
  font-size: 1.875em;
  line-height: 0;
}

.btext p, .stext p, .gtext p{
  font-size: 1.563em;
  line-height: 0;
}


.silverpanel{
  display: flex;
  flex-direction: column-reverse;
  background: linear-gradient(
  rgba(188, 187, 187, 0.7),
  rgba(188, 187, 187, 0.7)
  ),
  url('../img/silver.png') no-repeat center top;
background-size:contain;
}

.goldpanel{
  display: flex;
  flex-direction: column-reverse;
  background: linear-gradient(
  rgba(212, 175, 55, 0.5),
  rgba(212, 175, 55, 0.5)
  ),
  url('../img/gold.png') no-repeat center top;
background-size:contain;
}

.btext2, .stext2, .gtext2{
  padding-top: 25px;
 color: white;
}

.btext2, .stext2, .gtext2{
  padding-top: 25px;
  color: white;
}

.btext2 p, .stext2 p, .gtext2 p{
  font-size: 1.2em
}

.buttoncontainer {
  display: grid;
  justify-content: center;

}

.buttoncontainer a{
  text-align: center;
  font-size: 3.125em;
}

.btn{
  box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.44);
  margin-top: -75px;
  vertical-align: middle;
  padding: 30px 60px 30px 60px;
  background-color: #DC4F4F;
  color: white;
}

.tbcontent{

  padding: 200px 127px 127px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tbcontent h1{
  color: black;
  grid-column: span 4;
  padding-bottom: 70px;
}

.tbcontent img{
  width: 100%;
}

.footer{
  background-color: #212B3F;
}
